body {
  background-color: rgb(90, 35, 53);
  color: white;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}

a {
  color: rgb(235, 43, 107);
  font-size: 17px;
  text-decoration: none;
}

.weather-app {
  background: black;
  border-radius: 15%;
  border-style: none;
  box-shadow: 0 30px 50px rgb(42, 16, 25);
  margin: 45px auto;
  max-width: 600px;
  padding: 20px;
}

header {
  border-bottom: 1px solid black;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: rgb(217, 215, 217);
  border: none;
  border-style: none;
  border-radius: 15%;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-form-button {
  background: rgb(90, 35, 53);
  border: none;
  border-radius: 15%;
  border-style: none;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 20px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 45px;
  line-height: 48px;
  margin: 0;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
}

.weather-app-details strong {
  color: rgb(248, 125, 10);
  font-size: 22px;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  margin-left: 10px;
  margin-top: 20px;
  width: 95px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
}

.weather-app-units {
  font-size: 28px;
  margin-top: 20px;
}

footer {
  border-top: 1px solid black;
  font-size: 15px;
  padding: 30px 0 0 0;
  text-align: center;
}
